NEXT_PUBLIC_SUPABASE_URL=https://seqhpncxlnyaebuxwiqx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlcWhwbmN4bG55YWVidXh3aXF4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ1Njg3NDAsImV4cCI6MjA4MDE0NDc0MH0.BhQegA_klvE_DZk1v2xxjaNvM2xPLDdzgkEqhRy_nYA